@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  background-image: url("../img/forest.jpg");
  background-repeat: repeat-y;
}

.main-space {
  background-color: #fff;
  border-radius: 5;
  width: 40%;
  height: 500px;
  margin-left: 30%;
  border-radius: 5%;
}

h1 {
  text-align: center;
  z-index: 1;
  font-family: Work Sans, sans-serif;
}

#newItemInput, li {
  margin-left: 35%;
}

li {
 font-family: Work Sans, sans-serif;
}

/* text-decoration: line-through; */