@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.background {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.main-space {
  background-color: #e6e6e6;
  border-radius: 5;
  width: 40%;
  height: 500px;
  margin-left: 30%;
  border-radius: 5%;
}

h1 {
  text-align: center;
  z-index: 1;
  font-family: Work Sans, sans-serif;
}

#newItemInput, li {
  margin-left: 35%;
}

li {
 font-family: Work Sans, sans-serif;
}

/* text-decoration: line-through; */